.projects{
    height: 100vh;
    width: 100%;
    background-color: #0a1930;
}

.project-header{
    width: 100%;
    height: 10vh;
    background-color: #082e45;
}

.heading{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.project-body{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    
    height: 83%;
    width: 85%;
    display: flex;
}

.card{
    height: 80%;
    width: 30%;
    margin: 0 15px 0 15px;
    border-radius: 3%;
    background-color: #082e45;
}

.card-body{
    height: 75%;
    width: 100%;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
}

.card-footer{
    height: 25%;
    position: relative;
}

.title{
    position: absolute;
    margin: 4% 0 4% 0;
    text-align: center;
}

.description{
    position: absolute;
    font-size: 20px;
    text-align: justify;
    margin: 25% 5% 2% 5%;
    padding: 1%;
    word-wrap: break-word;
}


.btn{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 75%;
}

.btn1{
    height: 55%;
    width: 43%;
    font-size: 20px;
    background-color: #2099d2;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn2{
    margin-left: 3%;
    height: 55%;
    width: 28%;
    font-size: 20px;
    background-color: #e74889;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech{
    text-align: end;
    margin-right: 5%;
    color: #6c757d;
}